ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/Makefile
docs/Makefile.in
example/Makefile
example/Makefile.in
include/Makefile
include/Makefile.in
include/mbt/Makefile
include/mbt/Makefile.in
install-sh
libtool
ltmain.sh
m4/
mbt.pc
missing
src/.deps/
src/.libs/
src/*.lo
src/*.o
src/Makefile
src/Makefile.in
src/convert
src/libmbt.la
src/mbt
src/mbtg
src/simple.setting
src/simpletest
src/simpletest.log
src/simpletest.trs
src/test-suite.log
stamp-h1
test-driver
